#people-visualization {
  display: flex;
  align-items: flex-end; /* Align avatars to the bottom */
  justify-content: center;
  height: 100%; /* Full height of the visualization area */
  position: relative;
}

#people-visualization .flex-col {
  text-align: center;
}
