#people-visualization {
  display: flex;
  align-items: flex-end; /* Align avatars to the bottom */
  justify-content: center;
  height: 100%; /* Full height of the visualization area */
  position: relative;
  overflow: hidden;
}

.left-scale, .right-scale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
